* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.btn_menu_mobile {
  top: 40px;
  right: 40px; }
  @media only screen and (min-width: 768px) {
    .btn_menu_mobile {
      top: 30px;
      right: 30px; } }
  @media only screen and (min-width: 992px) {
    .btn_menu_mobile {
      top: 51px;
      right: 50px; } }

.logo {
  top: 40px;
  right: 40px; }
  @media only screen and (min-width: 768px) {
    .logo {
      top: 30px;
      right: 30px; } }
  @media only screen and (min-width: 992px) {
    .logo {
      top: 51px;
      right: 50px; } }

.header_main {
  height: 895px;
  background: #121618 0% 0% no-repeat;
  font-family: RobotoRegular;
  margin-bottom: 0; }
  @media only screen and (min-width: 768px) {
    .header_main {
      height: 1024px; } }
  @media only screen and (min-width: 992px) {
    .header_main {
      height: 768px; } }
  @media only screen and (min-width: 1260px) {
    .header_main {
      height: 800px; } }
  @media only screen and (min-width: 1900px) {
    .header_main {
      height: 1080px; } }

.header-bg__img {
  height: 303px;
  object-fit: cover;
  object-position: -35px 0px;
  overflow: hidden; }
  @media only screen and (min-width: 768px) {
    .header-bg__img {
      height: 562px;
      object-position: -70px 0px; } }
  @media only screen and (min-width: 992px) {
    .header-bg__img {
      height: 100%;
      object-position: -150px 0px; } }
  @media only screen and (min-width: 1260px) {
    .header-bg__img {
      object-position: -90px 0px; } }
  @media only screen and (min-width: 1900px) {
    .header-bg__img {
      object-position: 0px 0px; } }

.autor_title {
  display: none !important; }
  @media only screen and (min-width: 1260px) {
    .autor_title {
      display: flex !important; } }

.main_header_info .first_content {
  display: none !important; }
  @media only screen and (min-width: 1260px) {
    .main_header_info .first_content {
      display: block !important;
      font-size: 18px;
      padding-left: 16px !important;
      margin-bottom: 50px !important; } }
  @media only screen and (min-width: 1900px) {
    .main_header_info .first_content {
      margin-bottom: 100px !important; } }

.main_header_info {
  top: 360px;
  width: 453px;
  margin: 0 auto; }
  @media only screen and (min-width: 768px) {
    .main_header_info {
      width: 453px;
      padding: 0;
      margin-right: 30px;
      top: 404px;
      right: 0; } }
  @media only screen and (min-width: 992px) {
    .main_header_info {
      min-width: 752px;
      margin: 0;
      padding: 0;
      right: auto;
      top: auto;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: space-between;
      align-items: flex-end; } }
  @media only screen and (min-width: 1024px) {
    .main_header_info {
      min-width: 776px; } }
  @media only screen and (min-width: 1260px) {
    .main_header_info {
      min-width: 1092px; } }
  @media only screen and (min-width: 1900px) {
    .main_header_info {
      min-width: 1440px; } }
.main_header_desc {
  margin-top: 54px; }
  @media only screen and (min-width: 768px) {
    .main_header_desc {
      margin-top: 141px; } }
  @media only screen and (min-width: 992px) {
    .main_header_desc {
      width: 250px; } }
  @media only screen and (min-width: 1024px) {
    .main_header_desc {
      width: 256px; } }
  @media only screen and (min-width: 1260px) {
    .main_header_desc {
      width: 330px;
      margin-right: 69px; } }
  @media only screen and (min-width: 1900px) {
    .main_header_desc {
      width: 491px;
      margin-right: 1px; } }
.main_header_name {
  width: 414px; }
  @media only screen and (min-width: 768px) {
    .main_header_name {
      width: 453px; } }
  @media only screen and (min-width: 992px) {
    .main_header_name {
      width: 443px;
      object-fit: contain; } }
  @media only screen and (min-width: 1024px) {
    .main_header_name {
      width: 460px; } }
  @media only screen and (min-width: 1260px) {
    .main_header_name {
      width: 648px; } }
  @media only screen and (min-width: 1900px) {
    .main_header_name {
      width: 904px; } }

.second_content {
  font-family: RobotoRegular; }
  @media only screen and (min-width: 992px) {
    .second_content {
      font-size: 17px; } }
  @media only screen and (min-width: 1024px) {
    .second_content {
      font-size: 18px; } }
  @media only screen and (min-width: 1260px) {
    .second_content {
      padding-left: 16px;
      font-size: 16px; } }

.main_header_info .second_content p {
  margin-bottom: 10px; }

.header_button_watch {
  font-size: 18px;
  border: #F26C4D solid 1px;
  height: 35px;
  width: 170px;
  background: none;
  color: #F26C4D;
  margin-top: 50px; }
  @media only screen and (min-width: 768px) {
    .header_button_watch {
      margin-top: 30px; } }
  @media only screen and (min-width: 1260px) {
    .header_button_watch {
      margin-left: 16px;
      margin-top: 40px; } }
  @media only screen and (min-width: 1900px) {
    .header_button_watch {
      padding-left: 15px; } }

.main_portfolio {
  margin: 0;
  padding: 0; }
  @media only screen and (min-width: 992px) {
    .main_portfolio {
      padding: 50px; } }
  .main_portfolio_item {
    border: solid red 1px; }

.img_block {
  border: solid red 1px;
  width: 100% !important;
  height: 512px; }
  @media only screen and (min-width: 992px) {
    .img_block {
      width: 516px !important;
      height: 316px; } }
  @media only screen and (min-width: 768px) {
    .img_block_item {
      width: 100%;
      object-fit: cover;
      height: 512px;
      overflow: hidden; } }

.main_portfolio .info_block {
  padding: 0 40px; }
  @media only screen and (min-width: 768px) {
    .main_portfolio .info_block {
      padding-left: 285px;
      width: 100%; } }

.tags {
  margin-top: 23px; }
  @media only screen and (min-width: 768px) {
    .tags {
      padding-left: 0px;
      margin-left: 0; } }

@media only screen and (min-width: 768px) {
  .main_portfolio .tags {
    padding-left: 0px;
    margin: 19px 0 14px 0;
    font-size: 15px; } }

.main_portfolio .title {
  font-size: 28px;
  display: inline !important;
  line-height: 55px;
  border-bottom: 2px solid #F26C4D;
  font-weight: 500;
  padding-bottom: 0 !important; }
  @media only screen and (min-width: 768px) {
    .main_portfolio .title {
      padding-left: 0px;
      font-size: 42px; } }

.main_portfolio .item {
  margin-bottom: 98px; }
  @media only screen and (min-width: 768px) {
    .main_portfolio .item {
      display: block; } }
  @media only screen and (min-width: 992px) {
    .main_portfolio .item {
      display: flex; } }

.main_portfolio .item_last {
  margin-bottom: 0; }
  @media only screen and (min-width: 768px) {
    .main_portfolio .item_last {
      display: none; } }

@media only screen and (min-width: 768px) {
  .main_portfolio .item:nth-child(2n) {
    margin-bottom: 0; } }

.main_portfolio .item:nth-child(2n) .info_block {
  display: inline !important;
  padding-bottom: 2px !important; }
  @media only screen and (min-width: 768px) {
    .main_portfolio .item:nth-child(2n) .info_block {
      padding-left: 285px;
      display: block !important; } }

.item_bottom_block {
  flex-direction: column;
  margin-top: 10px; }
  @media only screen and (min-width: 768px) {
    .item_bottom_block {
      padding-left: 0px !important; } }

@media only screen and (min-width: 768px) {
  .main_portfolio .icon {
    margin-left: 0;
    margin-bottom: 14px;
    margin-top: 25px; } }

.main_portfolio .item .item_bottom_block .data {
  margin-left: 0; }

.main_portfolio .item .item_bottom_block .data .adress,
.main_portfolio .item .item_bottom_block .data .time,
.main_portfolio .item .item_bottom_block .data .type {
  margin-top: 10px; }
  @media only screen and (min-width: 768px) {
    .main_portfolio .item .item_bottom_block .data .adress,
    .main_portfolio .item .item_bottom_block .data .time,
    .main_portfolio .item .item_bottom_block .data .type {
      margin-top: 0;
      line-height: 28px; } }

.main_portfolio_button {
  font-size: 16px;
  line-height: 21px;
  height: 35px;
  width: 100px;
  background: #F26C4D;
  border: none;
  color: #FFFF;
  margin-left: 157px;
  margin-bottom: 67px;
  margin-top: 51px; }
  @media only screen and (min-width: 768px) {
    .main_portfolio_button {
      margin-left: 285px; } }

/*# sourceMappingURL=style.css.map */
